@tailwind base;
@tailwind components;

/*
* === Default Overrides ===
*/

html {
  @apply font-body antialiased;
}

/*
* === Components ===
*/

.btn {
  @apply inline-block px-6 py-4 text-center font-body text-sm uppercase tracking-wide transition-colors duration-300 md:py-5 md:text-base;
}

.btn-primary {
  @apply bg-primary text-white hover:bg-primary-lighter;
}

.btn-large {
  @apply px-10 text-lg md:px-12 lg:py-5 xl:py-6;
}

/*
* === Custom Classes ===
*/

.mobile-menu.active {
  @apply translate-x-0;
}

/*
* === Forms ===
*/

.form-input,
.form-textarea {
  @apply w-full rounded-none border border-primary-light bg-white px-3 py-4 font-body text-black transition-colors focus:border-primary focus:outline-none focus:ring-primary;
}

.form-input-transparent,
.form-textarea-transparent {
  @apply bg-transparent text-white;
}

/*
* === Tabs ===
*/

.tab-item {
  &.active {
    @apply bg-primary text-white;
  }
}

.tab-pane {
  @apply pointer-events-none absolute opacity-0;

  &.service-tab {
    top: 2rem;
  }

  &.active {
    top: 0;
    @apply pointer-events-auto relative opacity-100;
  }
}

/*
* === FAQ ===
*/

.faq-answer {
  @apply max-h-0;

  &.active {
    max-height: 999px;
  }
}

/*
* === Third Party Override ===
*/

.circles-text {
  @apply relative font-semibold text-primary;
}

.circles-integer {
  @apply absolute inset-x-0 top-1/5 mx-auto text-center text-5xl leading-normal;
}

.stat-cases .circles-integer:after {
  content: "%";
}

.stat-clients .circles-integer:after {
  content: "+";
}

/* purgecss end ignore */

@tailwind utilities;
